.messageList {
  width: 100%;
  padding: 5px 10px;

  overflow-y: scroll;
  height: 390px;
}

.message {
  width: 50%;
  word-break: break-word;
}

.myMessage {
  composes: message;
  margin-left: auto;
  text-align: right;
}

.interlocutorMessage {
  composes: message;
  margin-right: auto;
  text-align: left;
}

.messageText {
  margin: 20px 0;
  padding: 10px 20px;
  margin-bottom: 5px;
  font-size: 14px;

  border-radius: 10px;
}

.myMessageText {
  composes: messageText;
  background-color: var(--border-color);
  text-align: right;
}

.interlocutorMessageText {
  composes: messageText;
  background-color: var(--border-color-v2);
  text-align: left;
}

.messageDate {
  font-size: 12px;
  color: var(--border-color);
}
