.messageList {
  width: 100%;
}

.message {
  width: 50%;
  margin: 20px 10px;
}

.myMessage {
  composes: message;
  margin-left: auto;
}

.interlocutorMessage {
  composes: message;
  margin-right: auto;
}

.messageText {
  padding: 10px 20px;
  margin-bottom: 5px;
  font-size: 14px;
  background-color: var(--border-color);
  border-radius: 10px;
}

.messageDate {
  font-size: 12px;
  color: var(--border-color);
}
