@import 'modern-normalize/modern-normalize.css';

:root {
  --online-indicator-color: #2f882c;
  --offline-indicator-color: #a1a1a1;
  --accent-color: #ffc61b;
}

html[theme-type='light'] {
  --bg-color: #f3f9f9;
  --main-text-color: #000000;

  --border-color: #bdbdbd;
  --border-color-v2: #a8a7a7;
  --accent-color: #ffc61b;
  --text-accent-color: #b3880a;
  --selected-btn-color: #d3d2d2;
}

html[theme-type='dark'] {
  --bg-color: #292929;
  --main-text-color: #fff;

  --border-color: #4e4d4d;
  --border-color-v2: #29456e;
  --accent-color: #fee187;
  --selected-btn-color: #141414;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color);
  color: var(--main-text-color);
}

body.modal-is-open {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

a {
  display: block;
  text-decoration: none;
}

button {
  color: inherit;
  background-color: inherit;
}

.navLink {
  font-size: 20px;
  color: var(--main-text-color);
}

.activeNavLink {
  font-size: 20px;
  color: var(--accent-color);
}

.loader {
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  opacity: 0.7;
}

.mainLoader {
  justify-content: center;
  align-items: center;
  margin: 40px auto;

  opacity: 0.7;
}

.sectionTitle {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.sectionTitleIsHidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and (min-width: 780px) {
  .sectionTitle {
    font-weight: 600;
    font-size: 22px;
  }
}
