.contactsList {
  width: 100%;
  max-width: 300px;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  height: 380px;
  overflow-y: scroll;

  list-style: none;
  border: 1px solid var(--border-color);
  border-bottom: none;
}
